@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

body {
    color: white;
    margin: 0;
    border: 2px solid rgb(78, 60, 43);
    background-color: black;
   
}

.container {
    display: flex;
    flex-direction: row;
        
}


.left-side {
    flex: 1;
    position: relative;
    background-image: url(./images/snapbythree-my-g6e641CiHFQ-unsplash.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 99vh;
   
}

.right-side {
    flex: 2;
    display: flex;
    flex-direction: column;  
 
}

.top-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7vw;
    text-align: left;
    font-family: 'Stick', sans-serif;
    font-size: max(2.5vh, 21px);
    line-height: 1.8;
    max-width:100%;
    max-height:100%;
    z-index: -1;
    opacity: 80%
 
}

form {
    flex: 2;
    background-color:rgb(41, 30, 21);
    opacity: 80%
       
}

form p {
    padding-left: 7vw;
    font-family: 'Stick', sans-serif;
    font-size: max(2.5vh, 21px);
}

form fieldset {
    display: flex;
    border: 0;
       
}

legend {
    display: none;
}


li {
    list-style: none;
    display: flex;
    padding-left: 7vw;
    font-family: 'Stick', sans-serif;
    
}
label {
    font-size: max(2.1vh, 19px);
}

input {
    margin-bottom: 30px;
    width: 300px;
}


.bottom-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    padding-left: 7vw;
    text-align: left;
    font-family: 'Stick', sans-serif;
    font-size: max(2.5vh, 21px);
    background-color:rgb(46, 35, 25);
    opacity: 80%; 
}

.bottom-right button {
    max-width: max(2vw, 100px);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 19px;
    font-family: 'Stick', sans-serif;
    background: rgb(78, 60, 43);
}

.bottom-right button:hover {
    background: rgb(41, 30, 21);
}

.main-image {
    max-width:100%;
    max-height:100%;
    z-index: -1;
}

.odin-logo-container {
    width: 100%;
    height: max(15%, 20px);
    position: absolute;
    top: min(10vh, 10%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.1vw;
    opacity: 50%;    
    background-color:rgb(78, 60, 43)
}

.odin-logo-container h1 {
    font-family: 'Stick', sans-serif;
    color: white;
    font-size: max(5vh, 16px);
    width: max-content;
}

.left-side p {
    position: absolute;
    bottom: 0%;
    opacity: 40%;
    font-size: 0.6vw;
  
}

a {
    text-decoration: none;
    color: inherit;
}


.odin-logo-container img {
    height: 100%;
    
}